<label> Team: <%= @team.name%> </label>
<label> Team Motto: <%= @team.motto%> </label>

<label>Hero Name: <%= @heroes[0].name%> </label>
<label>Hero Power: <%= @heroes[0].power%></label>
<label>Hero Biography: <%= @heroes[0].bio%> </label>

<label>Hero Name: <%= @heroes[1].name%> </label>
<label>Hero Power: <%= @heroes[1].power%></label>
<label>Hero Biography: <%= @heroes[1].bio%> </label>

<label>Hero Name: <%= @heroes[2].name%> </label>
<label>Hero Power: <%= @heroes[2].power%></label>
<label>Hero Biography: <%= @heroes[2].bio%> </label>